*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url("photo\ \(1\).jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}